{% extends "headerAdmin.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='./static/css/styles.css') }}">

{% block content %}
    <h1>Lista de Publicaciones</h1>

    <a class="btn btn-primary" href="{{ url_for('foros_micros.registrar_publicacion', id_forum=publicaciones[0].forum_id) }}">Agregar publicación</a>
    <a class="btn btn-secondary" href="{{ url_for('foros_micros.volverAForos') }}">Volver a ver foros</a>

    {% if publicaciones %}
        <ul>
            {% for publicacion in publicaciones %}
                <h2>{{ publicacion.name }}</h2>
                <h4>{{ publicacion.description }}</h4>
                <h6>{{ publicacion.content }}</h6>
                {% if publicacion.image %}
                    <img src="{{ url_for('static', filename='images/' + publicacion.image) }}" alt="Imagen de la publicación">
                {% endif %}
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay publicaciones disponibles.</p>
    {% endif %}
{% endblock %}
e43