{% extends 'headerAdmin.html' %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <div class="content-wrapper">
        <div class="left-section">
            {% block usuario %}
            {% endblock %}

            <!-- Contenido de la sección izquierda -->
            <img src="" alt="">
            <h2>{{ user.nombre.capitalize() }} {{ user.ap_materno.capitalize() }}</h2>
            {% if user.tipo_usuario == 'E' %}
                <h2>Egresado</h2>
            {% else %}
                <h2>Alumno</h2>
            {% endif %}
            <button>Mi cuenta</button>
            <a class="button" href="http://localhost:5000/logout">Salir</a>
        </div>  

        <div class="right-section">
            <!-- Crear publicación -->
            <div class="formulariopublicacion">
                {% include 'registro_publicacion.html' %}
            </div>

            <!-- Contenido de la sección derecha -->
            
            <div class="publicaciones">
                {% if publicaciones %}
                    <ul>
                        {% for publicacion in publicaciones %}
                        <h6>Autor: {{ publicacion.user.nombre }} {{ publicacion.user.ap_paterno }} {{ publicacion.user.ap_materno }}</h6>
                            <h2>{{ publicacion.name }}</h2>
                            <h4>{{ publicacion.description }}</h4>
                            <h6>{{ publicacion.content }}</h6>
                            {% if publicacion.image %}
                                <img src="{{ url_for('static', filename='images/' + publicacion.image) }}" alt="Imagen de la publicación">
                            {% endif %}
                            <hr>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No hay publicaciones disponibles.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
