<hr>
<h4>Nueva publicación</h4>

<form method="POST" action="{{ url_for('foros_micros.registrar_publicacion', id_forum=idforum) }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.content.label(class="form-label") }}
        {{ form.content(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control") }}
    </div>

    <div class="form-group", "imagen">
        {{ form.image.label(class="form-label") }}
        {{ form.image(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
<hr>