/* Estilos para la lista de foros */

body {
    background-color: #d8d3e7;
    font-family: 'Montserrat', Arial, sans-serif;
  }
  
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
  }
  
  .btn-primary {
    width: 30%;
    padding: 8px 20px;
    background-color: #432c7d;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), 0 0 10px rgba(211, 207, 229, 255);
  }
  
  .btn-primary:hover {
    background-color: #624c9a;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.2) inset;
  }
  
  ul {
    margin-top: 20px;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    list-style: none;
    position: relative;
  }
  
  li::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -20px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #432c7d;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }

  .form-control {
    background-color:#ebe8f1;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  