{% extends "base.html" %}

{% block content %}
    <h2>Registro</h2>
    <form action="{{ url_for('auth.register') }}" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <label for="{{ form.email.id }}">Correo electrónico:</label>
            {{ form.email(size=64) }}
            {% for error in form.email.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            <label for="{{ form.password.id }}">Contraseña:</label>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            <label for="{{ form.password2.id }}">Repite la contraseña:</label>
            {{ form.password2(size=32) }}
            {% for error in form.password2.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}