{% extends "headerAdmin.html" %}

{% block content %}
<h1>Alumnos validados</h1>
<div id="usuarios-container">
    {% if users %}
        {% for user in users %}
            <div class="usuario" id="usuario-{{ user.id }}">
                <li>{{ user.nombre }} {{ user.ap_paterno }} {{ user.ap_materno }}</li>
                <div>
                    <embed src="{{ url_for('static', filename='pdf/' + user.estudiante_pdf[14:]) }}" type="application/pdf" width="50%" height="500px"></embed>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <div class="alert alert-danger mensaje" role="alert">
        No hay alumnos registrados aun.
    {% endif %}
</div>

<style>
    .alert.alert-danger.mensaje {
        background-color: rgba(170, 150, 147, 0.35);
        color: #ffffff; /* Cambia el color del texto */
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        border-color: transparent;
    }
</style>

{% endblock %}