{% extends "headerAdmin.html" %}

{% block content %}
<h1>Egresados pendientes a validar</h1>
<div id="usuarios-container">
    {% if users %}
        {% for user in users %}
            <div class="usuario" id="usuario-{{ user.id }}">
                <li>{{ user.nombre }} {{ user.ap_paterno }} {{ user.ap_materno }}</li>
                <h3>{{user.cedula_profesional}}</h3>
                <button class="btn-validar" data-id="{{ user.id }}">Siguiene Egresado</button>
                <button class="btn-actualizar" data-id="{{ user.id }}">Validar</button>
            </div>
            <a href="https://siurp.sep.gob.mx/mvc/cedulaElectronica">Ir a validar</a>
        {% endfor %}
    {% else %}
    <div class="alert alert-danger mensaje" role="alert">
        No hay egresados por validar.
    {% endif %}
</div>
<script>
    // Ocultar todos los usuarios excepto el primero
    var usuarios = document.querySelectorAll('.usuario');
    for (var i = 1; i < usuarios.length; i++) {
        usuarios[i].style.display = 'none';
    }

    // Asignar evento clic a todos los botones
    var botonesValidar = document.querySelectorAll('.btn-validar');
    botonesValidar.forEach(function(botón) {
        botón.addEventListener('click', function() {
            var usuarioId = botón.dataset.id;
            var usuarioActual = document.getElementById('usuario-' + usuarioId);
            var siguienteUsuario = usuarioActual.nextElementSibling;
            if (siguienteUsuario) {
                usuarioActual.style.display = 'none';
                siguienteUsuario.style.display = 'block';
            } else {
                usuarioActual.style.display = 'none';
                usuarios[0].style.display = 'block';
            }
        });
    });

    var botonesActualizar = document.querySelectorAll('.btn-actualizar');
    botonesActualizar.forEach(function(botón) {
        botón.addEventListener('click', function() {
            var usuarioId = botón.dataset.id;
            actualizarUsuario(usuarioId);
        });
    });

    function actualizarUsuario(usuarioId) {
        // Enviar una solicitud al servidor para actualizar el campo "aprobado" del usuario
        fetch('/actualizar-usuario/' + usuarioId, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ aprobado: 1 })
        })
            .then(function(response) {
                if (response.ok) {
                    console.log('Usuario actualizado correctamente.');
                } else {
                    console.log('Error al actualizar el usuario.');
                }
            })
            .catch(function(error) {
                console.log('Error en la solicitud: ' + error.message);
            });
            setTimeout(function() {
                window.location.reload();
            }, 500);
    }
</script>

<style>
    .alert.alert-danger.mensaje {
        background-color: rgba(170, 150, 147, 0.35);
        color: #ffffff; /* Cambia el color del texto */
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        border-color: transparent;
    }
</style>

{% endblock %}
